/* Global Styles */
@import './variables.css';
@import './base.css';
@import './typography.css';
@import './component-variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-body);
  line-height: 1.6;
  color: var(--toss-text-primary);
  background: var(--toss-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
